@tailwind base;
@tailwind components;
@tailwind utilities;

// set the color vars
:root {
  --beige: #e5d7b2;
  --blue1: #1b3555;
  --blue2: #2a6f97;
  --blue3: #5fa8d3;
  --blue4: #a8dadc;
  --blue5: #b7dde8;
  --burgundy: #9f4039;
  --eth-logo: #5f8ad3;
  --gray: #b0b7c3;
  --gray-blue: #a1c4d1;
  --green: #7dbf7b;
  --ice: #f1f9fc;
  --lavendar: #cabed0;
  --mint: #c2e1c9;
  --soft-red: #c35c5a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  font-feature-settings: "pnum" on, "lnum" on;
}

/* hack for newsletter */
iframe {
  color-scheme: light !important;
}

@media (min-width: 1180px) {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .sixth-section {
    scroll-snap-type: y proximity !important;
  }
}

/* 
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    176.28deg,
    #b7dde8 -4.56%,
    #f1f9fc 11.24%,
    #f1f9fc 27.05%
  );
  background-size: 100% 6317px;
}

::-webkit-scrollbar-thumb {
  background: #2a6f97;
  border-radius: 100vw;
} */

div::-webkit-scrollbar {
  width: 15px;
}

div::-webkit-scrollbar-track {
  background: #1b3555;
  border-radius: 100vw;
}

div::-webkit-scrollbar-thumb {
  background: #2a6f97;
  border: 2px solid #1b3555;
  border-radius: 100vw;
}

div::-webkit-scrollbar:horizontal {
  width: 15px;
  height: 15px;
}

div::-webkit-scrollbar-track:vertical {
  margin: 15px;
  /* padding: 15px; */
  border-radius: 100vw;
}

div::-webkit-scrollbar-track:horizontal {
  background: transparent;
  margin: 15px;
  /* padding: 15px; */
  border-radius: 100vw;
}

div::-webkit-scrollbar-thumb:horizontal {
  padding: 15px;

  background: #2a6f9733;
  border: 0px solid #1b355533;
  border-radius: 100vw;
}
